ul,ol{list-style: none;}
*{margin: 0;padding: 0;}

#xxx{
    background: white;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }

  body{
    margin: 0px;
    overflow: hidden;
  }
  
  .actions{
    position:fixed;
    top:0;
    left:0;
    padding: 10px;
  }

.icon{
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    margin: 0 10px;
  }
.icon.active{
  width: 40px;
  height: 40px;
}

.colors{
  position: fixed;
  top: 50px;
  left: 15px;
}


.colors>li{
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  margin: 10px 0;
  border-radius: 50%;
  transition: all 0.5s;
}
.colors>li.red{
  background: red;
}
.colors>li.green{
  background: green;
}
.colors>li.blue{
  background: blue;
}
.colors>li.yellow{
  background: yellow;
}
.colors>li.black{
  background: black;
}

.colors>li.active{
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  margin: 10px 0;
  border-radius: 50%;
}
  
.sizes{
  position: fixed;
  right: 20px;
  top: 10px;
}
.sizes>li{
  margin: 20px 0;
}

.sizes>.thin{
  height: 0;
  width: 40px;
  border-top: 3px solid black;
}
.sizes>.thick{
  height: 0;
  width: 40px;
  border-top: 6px solid black;
}